* {
  margin: 0;
  padding: 0;
}

article {
  display: flex;
  align-items: center;
}

.rank {
  padding: 30px 10px;
}

.voting {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.vote-number {
  padding: 2px 0px;
}

.details {
  display: flex;
}

.edit {
  display: flex;
}

.title {
  font-size: 26px;
}

.author {
  padding-left: 10px;
}

.remove {
  padding-left: 10px;
}
