.container {
  display: flex;
  background-color: #ffd62a;
  width: 760px;
  height: 280px;
  justify-content: center;
  align-items: center;
}

.purple {
  width: 110px;
  height: 110px;
  background-color: #b02aff;
  justify-content: center;
  align-items: center;

}
