header {
  color: #534d67;
}

h2 {
  margin-top: 0px;
  padding: 12px;
  background-color: #938c96;
  color: #fefdfe;
}

h3 {
  color: #443d5b;
}

form {
  padding: 40px 100px 55px 100px;
  background-color: #dcd6cd;
}
.columns {
  display: flex;
  width: 620px;
}

.age-gender {
  display: flex;
}

.brands {
  display: flex;
}
